@import "./main.scss";


/***********************************/
/***********************************/
/***********************************/



header {
  display: flex;
  max-width: 1240px;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 15px;
  padding-bottom: 20px;
  margin: auto;

  @media screen and (max-width:768px) {
    width: 90%;
    ;
  }


  .navigation {
    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0;

      a {
        text-decoration: none;
        list-style: none;
        color: #ff6060;
        font-family: Montserrat;
        font-size: 20px;
        font-style: normal;
        font-weight: bold;
        margin-left: 50px;
        cursor: pointer;

        &.nav-underline {
          border-bottom: solid 1px black;
        }
      }
    }
  }

}

.home {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;

  .banner {
    margin: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 25px;
    background: #F6F6F6;
    height: 223px;
    max-width: 1240px;
    margin-bottom: 30px;


    @media screen and (max-width:768px) {
      height: 110px;
      margin-bottom: 20px;
      width: 100%;
      justify-content: start;
    }

    .bannerImg {
      border-radius: 25px;
      object-fit: cover;
      width: 100%;
      height: 100%;
      filter: brightness(0.5);

      @media screen and (max-width:768px) {
        border-radius: 10px;
        width: 100%;

      }
    }

    h1 {
      color: white;
      position: absolute;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: Montserrat;
      font-size: 50px;

      @media screen and (max-width:768px) {
        font-size: 23px;
        width: 60%;
        text-align: left;
        padding-left: 1em;
      }
    }
  }

  .gallery {
    width: 100%;
    border-radius: 25px;
    background: #F6F6F6;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 28%);
    grid-template-rows: auto;
    gap: 50px;
    padding: 50px 0;
    margin: 0 auto;
    max-width: 1240px;

    @media screen and (max-width:768px) {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 0 0;
      margin-bottom: -65px;
      background: none;

    }

    .thumb {
      position: relative;

      @media screen and (max-width: 768px) {
        width: 100%;
        ;
      }

      a {
        text-decoration: none;
        color: black;
        display: block;
        overflow: hidden;
        position: relative;
        border-radius: 10px;

        &:before {
          content: "";
          width: 100%;
          position: absolute;
          bottom: 0;
          left: 0;
          box-shadow: 0 0 4em 10px black;
        }

        img {
          display: block;
          width: 100%;
          height: 240px;
          border-radius: 10px;

        }
      }

      h2 {
        position: absolute;
        bottom: 10px;
        left: 20px;
        font-size: 15px;
        color: white;
        width: 133px;
      }
    }
  }

}



.erreur404 {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (max-width: 768px) {
    justify-content: center;
  }
}

h1 {
  font-family: Montserrat;
  font-size: 288px;
  font-weight: bold;
  letter-spacing: 0em;
  text-align: center;
  color: #ff6060;
  margin: 0;

  @media screen and (max-width: 768px) {
    font-size: 110px;
    font-family: Montserrat;
    margin-top: 55px;
    margin-bottom: 55px;
  }
}

p {
  font-family: Montserrat;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 0em;
  text-align: left;
  color: #ff6060;
  margin-bottom: 70px;

  @media screen and (max-width: 768px) {
    font-size: 20px;
    text-align: center;
    padding-left: 10px;
    font-weight: normal;
    margin-top: 30px;
    font-family: Montserrat;
    margin-bottom: 100px;
  }
}

ul {
  li {
    list-style: none;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0em;
    text-align: left;
    color: black;
    cursor: pointer;

    @media screen and (max-width: 768px) {
      font-size: 15px;
    }
  }

  @media screen and (max-width: 768px) {
    padding-left: 10px;
    ;
  }
}

.about {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 81%;
  margin: 0 auto;

  @media screen and (max-width:768px) {
    width: 90%;
    margin-bottom: -77px;
  }
}

.bannerAbout {
  margin-bottom: 15px;
}

.bannerImgAbout {
  border-radius: 20px;

  @media screen and (max-width:768px) {

    width: 100%;
    height: 160px;
  }
}


.collapsis {
  border-radius: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  max-width: 1240px;
  margin: 0 auto;
  width: 85%;

  @media screen and (max-width:768px) {
    width: 100%;
  }
}

.headCollapsis {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ff6060;
  border-radius: 10px;
  overflow: hidden;
  z-index: 1;
  height: 52px;
}

h3 {
  color: white;
  font-family: monospace;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 10px;
  font-weight: bold;
}

.arrow {
  cursor: pointer;
  margin-right: 10px;
  transition: transform 0.4s ease;
  height: 24px;
  width: 24px;

  &.down {
    transform: rotate(-180deg);
  }
}

.paragraph {
  background-color: #f6f6f6;
  margin: 0;
  margin-bottom: 5px;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: black;
  transform: translateY(-50px);
  overflow: hidden;
  opacity: 0;
  height: 0;
  transition: all 0.6s ease-in-out;
  padding: 10px;


  &.animate {
    opacity: 1;
    transform: translateY(0px);
    height: max-content;
  }
}

.loc {
  height: 80%;
  border-radius: 25px;
  max-width: 1240px;
  margin: 0 auto;
  position: relative;
  width: 95%;

  .caroussel {
    position: relative;

    .slider {
      width: 100%;
      height: 34vh;
      border-radius: 25px;
      margin-top: 40px;
      object-fit: cover;
    }

    .arrowLeft {
      position: absolute;
      top: 140px;
      left: 0px;
      height: 60px;
      width: 46px;
      padding-left: 20px;
      cursor: pointer;

      @media screen and (max-width:768px) {
        height: 30px;
        top: 134px;
        padding-left: 10px;
      }
    }

    .arrowRight {
      position: absolute;
      top: 140px;
      right: 0px;
      height: 60px;
      width: 46px;
      padding-right: 20px;
      cursor: pointer;

      @media screen and (max-width:768px) {
        height: 30px;
        top: 134px;
        padding-right: 10px;
      }
    }

    .slide-indicator {
      position: absolute;
      bottom: 7%;
      right: 50%;
      font-family: Montserrat;
      font-size: 18px;
      font-weight: 500;
      line-height: 26px;
      color: white;
    }
  }

  .loc-container-up-down {
    display: flex;
    flex-direction: column;

    p {
      color: #ff6060;
      font-family: Montserrat;
      font-size: 18px;
      font-weight: 500;
      line-height: 142.6%;
      margin: 0;

      @media screen and (max-width: 768px) {
        font-size: 12px;
      }
    }

    .loc-content-up {
      display: flex;
      justify-content: space-between;

      @media screen and (max-width: 768px) {
        flex-direction: column;
      }

      h2 {
        max-width: 700px;
        color: #ff6060;
        font-family: Montserrat;
        font-size: 36px;
        font-weight: 500;
        margin: 10px 0 5px 0;

        @media screen and (max-width: 768px) {
          font-size: 18px;
        }
      }

      h3 {
        color: black;
        font-family: Montserrat;
        font-size: 18px;
        font-weight: bold;
        font-weight: 500;
        line-height: 142.6%;

        @media screen and (max-width: 768px) {
          font-size: 17px;
          margin-left: 0;
        }
      }

      .container-tags {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;

        .tags {
          display: flex;
          justify-content: center;
          align-items: center;
          background: #ff6060;
          color: white;
          border-radius: 10px;
          text-align: center;
          padding: 5px 30px;
          font-size: 14px;
        }
      }

      .hostRating {
        display: flex;
        gap: 20px;
        flex-direction: column;
        box-sizing: border-box;
        align-items: flex-end;

        @media screen and (max-width: 768px) {
          flex-direction: row-reverse;
          justify-content: space-between;
          align-items: center;
          padding: 20px 0;
        }

        .host {
          display: flex;

          img {
            width: 64px;
            height: 64px;
            border-radius: 50%;
          }
        }

        h3 {
          color: #ff6060;
          text-align: right;
          font-family: Montserrat;
          font-size: 18px;
          font-weight: 500;
          margin-right: 10px;

          @media screen and (max-width: 768px) {
            font-size: 14px;
          }

        }

        .stars {
          color: #ff6060;
          height: 30px;

          @media screen and (max-width: 768px) {
            height: 18px;
          }
        }

        .starsGrey {
          color: #e3e3e3;
          height: 30px;

          @media screen and (max-width: 768px) {
            height: 18px;
          }
        }
      }
    }

    .loc-content-down {
      display: flex;
      gap: 70px;
      margin-top: 25px;

      @media screen and (max-width: 768px) {
        flex-direction: column;
        gap: 0;
        align-items: center;
        padding: 10px 0;
        margin-top: 0;
        margin-bottom: -95px;
      }

      li {
        list-style: none;
        color: black;
      }
    }
  }
}


footer {
  display: flex;
  width: 100%;
  height: 209px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #000;
  margin-top: 30px;

  @media screen and (max-width:768px) {
    margin-top: 90px;
  }



  h3 {
    color: #FFF;
    text-align: center;
    background: black;
    margin-top: 0px;
  }

}





@media all and (max-width:$mobile) {
  body {
    &>header {}

    &>nav {}

    &>main {
      &>section {}

      &>article {}
    }

    &>footer {
      &>ul {}
    }
  }
}

@media all and (min-width:$mobile) and (max-width:$tablette) {
  body {
    &>header {}

    &>nav {}

    &>main {
      &>section {}

      &>article {}
    }

    &>footer {
      &>ul {}
    }
  }
}

@media all and (min-width:$desktop) and (max-width:$tv) {
  body {
    &>header {}

    &>nav {}

    &>main {
      &>section {}

      &>article {}
    }

    &>footer {
      &>ul {}
    }
  }
}

@media all and (min-width:$tv) {
  body {
    &>header {}

    &>nav {}

    &>main {
      &>section {}

      &>article {}
    }

    &>footer {
      &>ul {}
    }
  }
}