@import "./main.scss";


/***********************************/
/***********************************/
/***********************************/
header {
  display: flex;
  margin: auto;
  max-width: 1240px;
  flex-direction: row;
  width: 95%;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 15px;
  padding-bottom: 20px;

  .navigation {
    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0;
    }
  }

  a {
    text-decoration: none;
    list-style: none;
    color: #ff6060;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
    margin-left: 50px;
    cursor: pointer;
  }

}

.home {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;

  .banner {
    margin: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 25px;
    background: #F6F6F6;
    height: 223px;
    max-width: 1240px;
    margin-bottom: 30px;
    

    @media screen and (max-width:768px) {
      height: 110px;
      border-radius: 10px;
      margin-bottom: 20px;
      width: 65%;
     }

    .bannerImg {
      border-radius: 25px;
      object-fit: cover;
      width: 100%;
      height: 100%;
      filter: brightness(0.5);

      @media screen and (max-width:768px) {
        border-radius: 10px;
        width: 75%;
       }
    }

    h1 {
      color: white;
      position: absolute;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: Montserrat;
      font-size: 50px;
      @media screen and (max-width:768px) {
       font-size: 28px;
       }
    }
  }
  .gallery{
    width: 100%;
    border-radius: 25px;
    background: #F6F6F6;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3,28%);
    grid-template-rows: auto;
    gap: 50px;
    padding: 50px 0;
    margin: 0 auto;
    max-width: 1240px;
    @media screen and (max-width:768px) {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 0 0;
      margin-bottom: 25px;
      background: none;
      
     }
  }
  a img{
    width: 100%;
    height: 240px;
  }
  h2{
    font-size: 15px;  
  }
  a{
    text-decoration: none;
    color: black;
  }
}
.thumb{
position: relative;
}
.thumb h2{
  position: absolute;
  bottom: 10px;
  left: 20px;
  color: white;
  width: 133px;

}
.erreur404 {
  display: flex;
  flex-direction: column;
  align-items: center;
  }
  h1 {
    font-family: Montserrat;
    font-size: 288px;
    font-weight:bold;
    letter-spacing: 0em;
    text-align: center;
    color: #ff6060;
    margin: 0;
  }
  p {
    font-family: Montserrat;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 0em;
    text-align: left;
    color: #ff6060;
    margin-bottom: 70px;
  }
  ul {
    li {
      list-style: none;
      font-family: Montserrat;
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 0em;
      text-align: left;
      color: black;
      cursor: pointer;
    }
  }

  .about{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 81%;
    margin: 0 auto;
}
  .bannerAbout{
  margin-bottom: 15px;
}
  .bannerImgAbout{
    border-radius: 20px;
  }


  .collapsis {
    border-radius: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    max-width: 1240px;
    margin: 0 auto;
    width: 85%;
    @media screen and (max-width: 768px) {
      width: 100%;
    }
    .headCollapsis {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #ff6060;
      border-radius: 10px;
      overflow: hidden;
      z-index: 1;
      height: 52px;
      @media screen and (max-width: 768px) {
        height: 30px;
      }
      h3 {
        color: white;
      font-family: monospace;
      font-size: 18px;
      line-height: 26px;
      letter-spacing: 0em;
      text-align: left;
      margin-left: 10px;
      font-weight: bold;
      }
      .arrow {
        cursor: pointer;
        margin-right: 10px;
        transition: transform 0.4s ease;
        height: 24px;
        width: 24px;
        @media screen and (max-width: 768px) {
          height: 18px;
          width: 18px;
        }
        &.down {
          transform: rotate(-180deg);
        }
      }
    }
    .paragraph {
      background-color: #f6f6f6;
      margin: 0;
      margin-bottom: 5px;
      font-family: Montserrat;
      font-size: 18px;
      font-weight: 400;
      line-height: 26px;
      letter-spacing: 0em;
      text-align: left;
      color: black;
      transform: translateY(-50px);
      overflow: hidden;
      opacity: 0;
      height: 0;
      transition: all 0.6s ease-in-out;
      padding: 10px;
      @media screen and (max-width: 768px) {
        font-size: 14px;
      }
  
      &.animate {
        opacity: 1;
        transform: translateY(0px);
        height: max-content;
      }
    }
  }
  
footer{
  display: flex;
  width: 100%;
  height: 209px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #000;
  margin-top: 30px;
  h3{
      color: #FFF;
      text-align: center;
      background: black;
      margin-top: 0px;
  }
}





@media all and (max-width:$mobile) {
  body {
    &>header {}

    &>nav {}

    &>main {
      &>section {}

      &>article {}
    }

    &>footer {
      &>ul {}
    }
  }
}

@media all and (min-width:$mobile) and (max-width:$tablette) {
  body {
    &>header {}

    &>nav {}

    &>main {
      &>section {}

      &>article {}
    }

    &>footer {
      &>ul {}
    }
  }
}

@media all and (min-width:$desktop) and (max-width:$tv) {
  body {
    &>header {}

    &>nav {}

    &>main {
      &>section {}

      &>article {}
    }

    &>footer {
      &>ul {}
    }
  }
}

@media all and (min-width:$tv) {
  body {
    &>header {}

    &>nav {}

    &>main {
      &>section {}

      &>article {}
    }

    &>footer {
      &>ul {}
    }
  }
}